.component-lr {
    -fx-background-radius: 30;
    -fx-pref-width: 200;
}

.button-lr {
    -fx-background-radius: 30;
    -fx-pref-width: 200;
    -fx-background-color: #3381ff;
    -fx-text-fill: #ffffff;
}

.text-field:focused {
    -fx-faint-focus: transparent;
    -fx-focus-color: #3381ff;
}
